.AddPlant button {
  background-color: green;
  border-color: green;
  box-shadow: none;
  width: 30%;
}

.AddPlant textarea {
  width: 60%;
  height: 60%;
}

.AddPlant input {
  height: 22px;
  border: 1px solid grey;
}

.AddPlant-form {
  display: grid;
  grid-template-rows: 60px 80px 150px 50px 20px;
  justify-items: center;
  width: 80%;
}

.AddPlant-form > * {
  width: 100%;
}

.AddPlant {
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .AddPlant-form {
    width: 100%;
    display: grid;
    grid-template-rows: 7vh 7vh 30vh 7vh 3vh;
  }
  .AddPlant-form > * {
  }
  .AddPlant textarea {
    width: 85%;
    height: 70%;
  }
}
