.Edit-Profile textarea {
  height: 50px;
  width: 350px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  margin: 10px 0px;
  padding: 5px;
}

.Edit-Profile {
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin-top: 80px;
}

.Edit-Profile button {
  background-color: #87c570;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  border: 0;
  text-decoration: none;
  padding: 0.2vw 1vw;
  font-size: 18px;
  border-radius: 0.7rem;
  width: 200px;
  margin: 0.3vw;
  @media screen and (max-width: 600px) {
    width: 20vw;
  }
}

.Edit-Profile button:hover {
  background-color: #579540;
}
