body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Go-Back-Button button {
  background-color: white;
  border-style: none;
  font-family: Roboto, Arial;
  font-size: 18px;
  vertical-align: top;
  margin-top: 15px;
}

.Go-Back-Button button:hover {
  background-color: #87c570;
}
