.Login {
  align-content: center;
  justify-content: center;
  display: block;
  position: relative;
  margin-top: 80px;
  float: none;
}

.login-form {
  justify-items: center;
  justify-content: center;
}

.login-form input {
  display: block;
  padding: 10px;
  width: 300px;
  justify-items: center;
  margin: auto;
  height: 10px;
  font-family: Roboto, Arial;
}

.login-button {
  display: block;
  background-color: #87c570;
  position: relative;
  display: inline-block;
  outline: none;
  border: 0;
  text-decoration: none;
  padding: 0.2vw 1vw;
  font-size: 18px;
  border-radius: 0.7rem;
  width: 200px;
  height: 30px;
  margin: 0.3vw;
  @media screen and (max-width: 600px) {
    width: 20vw;
  }
}

.login-button:hover {
  background-color: #579540;
}
