.MessageCard-author {
  background-color: lightseagreen;
}

.MessageCard-recipient {
  background-color: lightblue;
}

.MessageCard-author,
.MessageCard-recipient {
  border-style: solid;
  padding: 10px;
  margin: 10px 100px;
}
