.Register {
  align-content: center;
  justify-content: center;
  display: block;
  position: relative;
  margin-top: 80px;
  float: none;
}

.Register form {
  display: grid;
  grid-template-rows: 60px 60px 40px 60px 60px 20px 100px;
  justify-items: center;
  overflow: hidden;
  height: 100%;
}

.Register input {
  display: block;
  height: 20px;
  width: 250px;
}

.register-button {
  display: block;
  background-color: #87c570;
  position: relative;
  display: inline-block;
  outline: none;
  border: 0;
  text-decoration: none;
  padding: 0.2vw 1vw;
  font-size: 18px;
  border-radius: 0.7rem;
  width: 200px;
  height: 30px;
  margin: 0.3vw;
  @media screen and (max-width: 600px) {
    width: 20vw;
  }
}

.register-button:hover {
  background-color: #579540;
}

.Register select {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
